@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

/*__________________Paramètres généraux__________________________*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(120deg, rgb(211, 236, 195), rgb(79, 221, 186));
    overflow-x: hidden;
}


/*______________________________________________________________*/


/*__________________Page de connexion___________________________*/

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

.txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-10%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #00dd0b;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: #00dd0b;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.center input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #999999;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.center input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}

.alert {
    text-align: center;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border-radius: 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


/*__________________Pages des établissements____________________*/

.accueil_title {
    position: relative;
    top: 5%;
}

.accueil_title h1 {
    text-align: center;
    font-size: 2.2vw;
}

.button_etablissement {
    width: 50%;
    height: 20%;
    border: 1px solid;
    background: #999999;
    border-radius: 25px;
    font-size: 1vw;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.etablissement1 {
    position: absolute;
    left: 15%;
}

.etablissement2 {
    position: absolute;
    left: 40%;
}

.etablissement3 {
    position: absolute;
    left: 65%;
}

.etablissement {
    width: 20%;
    background: white;
    border-radius: 5%;
    box-shadow: 10% 10% 15% rgba(0, 0, 0, 0.05);
}

.etablissement h1 {
    overflow-wrap: break-word;
    text-align: center;
    font-size: 1.8vw;
    padding: 4% 0%;
    border-bottom: 1px solid silver;
}

.desc_box {
    overflow-wrap: break-word;
    resize: none;
    text-align: center;
    font-weight: normal;
    border: none;
    margin: 5%;
    color: #999;
    font-size: 0.7vw;
}

.button_box_etablissement {
    position: relative;
    left: 25%;
    padding: 0% 0%;
    box-sizing: border-box;
}


/*______________________________________________________________*/


/*___________________Pages des services_________________________*/

.service_title {
    overflow-wrap: break-word;
    position: absolute;
    top: 5%;
    left: 35%;
    width: 30%;
}

.service_title h1 {
    overflow-wrap: break-word;
    text-align: center;
    font-size: 2.2vw;
}

button.button_service {
    width: 50%;
    height: 20%;
    border: 1px solid;
    background: #999999;
    border-radius: 25px;
    font-size: 1vw;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}


/*______________________________________________________________*/


/*_________________Page création de bon_________________________*/

.box_intervention {
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.box_intervention h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 2vw;
    border-bottom: 1px solid silver;
}

.box_intervention h3 {
    font-size: 1.2vw;
}

.demand hr {
    border: 1px dashed black;
}

.name_demand {
    width: 80%;
}

.detail {
    max-width: 100%;
    resize: none;
}

.send {
    position: relative;
    left: 88%;
    width: 10%;
    border: 1px solid gray;
    border-radius: 5px;
}

.send:hover {
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}

.alert_intervention {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 2%;
    padding: 10px;
    background-color: #a5a5a5;
    color: white;
    border-radius: 10px;
}

.succesfull {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.succesfull:hover {
    color: black;
}


/*______Box aperçu des bons________*/

.view_bon {
    position: absolute;
    top: 9%;
    left: 80%;
    width: 15%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.view_bon h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 1.5vw;
    border-bottom: 1px solid silver;
}

.view {
    border: 1px solid gray;
    border-radius: 5px;
}

.view h3 {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
}

.view:hover {
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}

.view_bon br {
    margin: -3%;
}

.viewpersonnal {
    position: relative;
    left: 30%;
    width: 40%;
}

.viewservice {
    position: relative;
    width: 74%;
    left: 15%;
}

.viewall {
    position: relative;
    width: 47%;
    left: 28%;
}


/*_____________________________________*/


/*______________________________________________________________*/


/*_______________Filtre recherche_______________________________*/

.filter {
    position: absolute;
    top: 5%;
    right: 3%;
    width: 20%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.filtre_client input[type="text"] {
    position: relative;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.filtre_tech_col_1 {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 45%;
}

.filtre_tech_col_1 input[type="text"] {
    margin-left: 2%;
    margin-bottom: 3%;
    text-align: center;
}

.filtre_tech_col_2 {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-left: 5%;
    width: 45%;
}

.filtre_tech_col_2 input[type="text"] {
    float: right;
    margin-right: 2%;
    margin-bottom: 3%;
    text-align: center;
}

.filtre_tech_col_2 select {
    float: right;
    margin-right: 2%;
    margin-bottom: 3%;
    text-align: center;
    border: 1px solid silver;
}

.filtre_recherche_box {
    margin-top: 5%;
}

.filtre_recherche_box button {
    position: relative;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: clamp(0.6vw, 0.9vw, 1.6vw);
    margin-left: 29%;
    text-align: center;
    cursor: pointer;
}

.filtre_recherche_box button:hover {
    background-color: #adadad;
}

.filtre_recherche_box select {
    position: relative;
    margin-right: 6%;
    text-align: center;
    border: 1px solid silver;
    font-size: clamp(0.6vw, 0.9vw, 1.6vw);
}

.filter h1 {
    text-align: center;
    font-size: 2vw;
    padding: 20px 0;
    border-bottom: 2px solid silver;
}

.filter input[type=text] {
    border: 1px solid silver;
}


/*_____________________________________________________________*/


/*__________________________Visualisation___________________________________*/


/*________________Visualisation liste______________________*/

.intervention_view_box {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 58%;
    height: 88%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.intervention_view_box h1 {
    text-align: center;
    font-size: 2vw;
    padding: 20px 0;
    border-bottom: 2px solid silver;
}


/*_________________________________________________________*/


/*______________Visualisation d'un ticket__________________*/

.ticket_view_box {
    position: absolute;
    top: 9%;
    left: 15%;
    width: 70%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.ticket_view_box h1 {
    text-align: center;
    padding: 1% 0;
    margin-left: 16%;
    font-size: 1.6vw;
}

.line_ticket {
    border: 1px solid silver;
}

.ticket_view_box h3 {
    padding-left: 5%;
    font-size: clamp(1vw, 1.2vw, 1.5vw);
    text-align: left;
}

.ticket_view_box textarea {
    font-size: clamp(0.8vw, 1vw, 1.3vw);
}

.intervention_view_client {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    padding-bottom: 1%;
    width: 48%;
}

.intervention_view_client input[type="text"] {
    text-align: center;
    float: right;
    background: none;
    border: none;
    font-size: clamp(0.8vw, 1vw, 1.3vw);
    width: 50%;
}

.intervention_view_ticket {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    text-align: left;
    float: right;
    width: 48%;
}

.intervention_view_ticket input[type="text"] {
    width: 45%;
    margin-right: 1vw;
    background: none;
    border: none;
    text-align: center;
    font-size: clamp(0.8vw, 1vw, 1.3vw);
    float: right;
}

.intervention_ticket_tech {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    text-align: left;
    float: right;
    width: 48%;
}

.ticket_fin_tech input[type="text"] {
    width: 45%;
    margin-right: 1vw;
    background: none;
    border: none;
    text-align: center;
    font-size: clamp(0.8vw, 1vw, 1.3vw);
    float: right;
}

.take_ticket_tech {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    text-align: left;
    float: right;
    width: 48%;
}

.take_ticket_tech input[type="text"] {
    width: 45%;
    margin-right: 1vw;
    background: none;
    border: none;
    border-bottom: 1px solid silver;
    text-align: center;
    font-size: clamp(0.8vw, 1vw, 1.3vw);
    float: right;
}

.ticket_view_button_box_1 {
    text-align: center;
}

.ticket_button_change {
    position: relative;
    margin-left: 2%;
    font-size: clamp(0.8vw, 1vw, 1.3vw);
    border: none;
    border-bottom: 1px solid silver;
}

.ticket_button_transfer {
    position: relative;
    margin-left: 1%;
    font-size: clamp(0.6vw, 1vw, 100%);
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
}

.ticket_button_transfer:hover {
    background-color: #999;
}

.ticket_view_cloture {
    position: relative;
    top: -2vw;
    font-size: clamp(0.6vw, 1vw, 100%);
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
}

.ticket_view_modif {
    position: relative;
    top: -2.2vw;
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(0.6vw, 1vw, 100%);
}

.ticket_view_cloture:hover {
    background-color: #999;
}

.ticket_view_modif:hover {
    background-color: #999;
}

.ticket_view_id {
    background: none;
    font-size: 1.6vw;
    width: 12%;
    border: none;
}

.intervention_view_statut {
    position: relative;
    float: right;
    font-size: 0.8vw;
}

.ticket_view_detail {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 48%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.intervention_view_detail {
    width: 100%;
    resize: none;
}

.ticket_view_remarque {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 48%;
    float: right;
    margin-top: 5%;
    text-align: center;
}

.intervention_view_remarque {
    width: 100%;
    float: right;
    resize: none;
}

.intervention_view_perso {
    position: relative;
    left: 1vw;
}

.ticket_take_tech {
    border: 1px solid silver;
}

.ticket_take_bon {
    position: relative;
    left: 28vw;
    width: 20%;
    font-size: clamp(1vw, 1.2vw, 1vw);
    margin-bottom: 2%;
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
}

.ticket_take_bon:hover {
    background-color: #999;
}

.intervention_take_nature {
    width: 45%;
    margin-right: 1vw;
    background: none;
    border: none;
    border-bottom: 1px solid silver;
    text-align: center;
    font-size: clamp(0.8vw, 1vw, 1.3vw);
    float: right;
}

.ticket_take_fin {
    border: none;
}

.ticket_fin_fin {
    width: 50%;
    margin-right: 1vw;
    background: none;
    border: none;
    border-bottom: 1px solid silver;
    text-align: center;
    font-size: clamp(0.8vw, 1vw, 1.3vw);
    float: right;
}


/*___________________________________*/


/*_____Visualisation tableau_________*/

.result {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    max-height: 83%;
    overflow-y: auto;
}

.tableresponsive thead th:nth-child(1) {
    position: relative;
    width: 2%;
}

.tableresponsive thead th:nth-child(2) {
    position: relative;
    width: 18%;
}

.tableresponsive thead th:nth-child(3) {
    position: relative;
    width: 6%;
}

.tableresponsive thead th:nth-child(4) {
    position: relative;
    width: 15%;
}

.tableresponsive thead th:nth-child(5) {
    position: relative;
    width: 18%;
}

.tableresponsive thead th:nth-child(6) {
    position: relative;
    width: 15%;
}


/*_____________________________________*/


/*_________________________________________________*/


/*_________________Box de connexion______________________*/

.admin_user {
    position: absolute;
    bottom: 1vw;
    left: 86%;
    width: 12%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.button_login {
    background: #c9c9c9;
    width: 80%;
    color: white;
    font-size: 1vw;
    border: 2px solid #999999;
    border-radius: 5px;
    cursor: pointer;
}

.button_login:hover {
    background-color: #adadad;
}

.quit_button {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    left: 10%;
    transform: translateY(28%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.quit_button:hover {
    opacity: 0.8;
}

#logout-image img {
    display: block;
    height: 2vw;
    width: 2vw;
    background: transparent;
}

.admin_user h3 {
    position: relative;
    transform: translateX(28%);
    font-size: 1vw;
    padding: 7% 0;
}

.admin_user h5 {
    font-size: 0.85vw;
    padding: 7%;
    text-align: center;
}


/*__________________________________________________*/


/*___________Paramètres des tableaux________________*/

.table {
    border-collapse: collapse;
    display: block;
    overflow: auto;
}

.table p {
    font-weight: normal;
}

.table th {
    font-weight: normal;
}

.table thead tr {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #009879;
    color: #ffffff;
}

.table tbody tr {
    border-bottom: 1px solid silver;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    border-bottom: 2px solid #71d4c0;
}

tbody td {
    text-align: center;
}

tfoot th {
    text-align: center;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}


/*__________________________________________________*/


/*_______________Page administrateur__________________*/


/*_____________Page principal___________*/

.admin_box {
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 90%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.admin_box h1 {
    text-align: center;
}

.admin_eta {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    max-height: 23.7%;
    top: 2%;
}

.admin_serv {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    top: 2%;
    left: 2%;
    max-height: 23.7%;
    width: 47.7%;
}

.admin_tech {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    top: 5%;
    left: 0%;
    width: 100%;
    max-height: 35%;
}

.admin_nature {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    max-height: 23.7%;
    top: 10%;
}

.admin_demandeur {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    top: 10%;
    left: 2%;
    max-height: 23.7%;
    width: 47.7%;
}

.add_button {
    position: relative;
    font-size: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    float: right;
}

.add_button:hover {
    opacity: 0.8;
}

.view_button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.view_button:hover {
    opacity: 0.8;
}


/*______________________________________*/


/*_________Page de modification_________*/

.eta_select {
    position: relative;
    width: 15vw;
    text-align: center;
    font-size: 0.8vw;
    border: 1px solid silver;
    border-radius: 5px;
    overflow-x: scroll;
}

.name_area input[type="text"] {
    position: relative;
    width: 30%;
    border: 1px solid silver;
}

.eta_name {
    position: relative;
    text-align: center;
    font-size: 0.8vw;
    border: 1px solid silver;
}

.modal_delete {
    position: relative;
    left: 61%;
    transform: translateY(-100%);
    background: transparent;
    border: none;
    font-size: 100%;
    cursor: pointer;
}

.admin_tech textarea {
    background-color: transparent;
    border: none;
    text-align: center;
    color: black;
}

.tech_open_name {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    left: 0%;
    width: 45%;
    height: 3000%;
}

.tech_open_mdp {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    top: 5%;
    left: 5%;
    width: 45%;
}

.mdp_tech {
    width: 60%;
    border: 1px solid silver;
}

.mail_tech {
    width: 70%;
    font-size: 0.8vw;
    text-align: center;
}

.div_tech_name {
    position: relative;
    text-align: center;
    width: 100%;
}

.div_tech_eta {
    position: relative;
    transform: translateY(15%);
    text-align: center;
}

.div_tech_serv {
    position: relative;
    transform: translateY(30%);
    text-align: center;
}

.div_tech_mdp {
    text-align: center;
}

.div_tech_mail {
    position: relative;
    transform: translateY(30%);
    text-align: center;
}

.div_tech_admin {
    position: relative;
    transform: translateY(120%);
    text-align: center;
}

.div_tech_button {
    position: relative;
    transform: translateY(160%);
}

.div_tech_box {
    position: relative;
    width: 50%;
    text-align: center;
    font-size: 0.8vw;
    border: 1px solid silver;
}

.tech_select {
    left: 0%;
    width: 11.5vw;
    text-align: center;
    border: 1px solid silver;
    border-radius: 5px;
    overflow-x: scroll;
}

.modal-content h2 {
    text-align: center;
}

.modal_submit {
    position: relative;
    left: 40%;
    width: 20%;
    cursor: pointer;
    border: 2px solid silver;
    border-radius: 5px;
}

.nature_box {
    border: 1px solid silver;
    font-size: 0.8vw;
    text-align: center;
    width: 30%;
}

.nature_select {
    width: 40%;
    text-align: center;
    font-size: 0.8vw;
    border: 1px solid silver;
}

.service_demandeur_select {
    width: 40%;
    text-align: center;
    font-size: 0.8vw;
    border: 1px solid silver;
}

.demandeur_box {
    text-align: center;
    font-size: 0.8vw;
    border: 1px solid silver;
    width: 40%;
}

.tech_delete {
    width: fit-content;
}


/*______________________________________*/


/*__________Tableaux page administrateur__________*/

.tableeta {
    position: relative;
    left: 0%;
    width: 100%;
    border: 1px solid #009879;
}

.tableserv {
    position: relative;
    width: 100%;
    border: 1px solid #009879;
}

.tabletech {
    position: relative;
    border: 1px solid #009879;
}

.tablenature {
    position: relative;
    width: 100%;
    border: 1px solid #009879;
}

.tabledemandeur {
    position: relative;
    width: 100%;
    border: 1px solid #009879;
}

.tableeta thead th:nth-child(1) {
    position: relative;
    width: 20%;
}

.tableeta thead th:nth-child(2) {
    position: relative;
    width: 20%;
}

.tableeta thead th:nth-child(3) {
    position: relative;
    width: 20%;
}

.tableserv thead th:nth-child(1) {
    position: relative;
    width: 20%;
}

.tableserv thead th:nth-child(2) {
    position: relative;
    width: 20%;
}

.tableserv thead th:nth-child(3) {
    position: relative;
    width: 20%;
}

.tabletech thead th:nth-child(1) {
    position: relative;
    width: 16.5%;
}

.tabletech thead th:nth-child(2) {
    position: relative;
    width: 16.5%;
}

.tabletech thead th:nth-child(3) {
    position: relative;
    width: 16.5%;
}

.tabletech thead th:nth-child(4) {
    position: relative;
    width: 16.5%;
}

.tabletech thead th:nth-child(5) {
    position: relative;
    width: 16.5%;
}

.tabletech thead th:nth-child(6) {
    position: relative;
    width: 16.5%;
}

.tablenature thead th:nth-child(1) {
    position: relative;
    width: 20%;
}

.tablenature thead th:nth-child(2) {
    position: relative;
    width: 20%;
}

.tablenature thead th:nth-child(3) {
    position: relative;
    width: 20%;
}

.tabledemandeur thead th:nth-child(1) {
    position: relative;
    width: 20%;
}

.tabledemandeur thead th:nth-child(2) {
    position: relative;
    width: 20%;
}

.tabledemandeur thead th:nth-child(3) {
    position: relative;
    width: 20%;
}


/*________________________________________________*/


/*_____________________________________________________________*/


/*__________________Barre de recherche_________________________*/

.autocomplete {
    position: relative;
    display: inline-block;
    width: 300px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}


/*____________________________________________________________*/


/*_____________Gestion des fenêtres pop-up____________________*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.close {
    position: relative;
    color: #aaaaaa;
    float: right;
    top: 5%;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*_____________________________________________________________*/


/*______________________Statistiques___________________________*/

.stat_intervention {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 2%;
    width: 45%;
    height: 38%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.stat_intervention h1 {
    text-align: center;
    font-size: 1.6vw;
    margin-bottom: 2%;
}

.stat_demandeur {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 1%;
    margin-right: 2%;
    float: right;
    width: 45%;
    height: 38%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.stat_demandeur h1 {
    text-align: center;
    font-size: 1.6vw;
    margin-bottom: 2%;
}

.stat_panne {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 2%;
    width: 45%;
    height: 38%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.stat_panne h1 {
    text-align: center;
    font-size: 1.6vw;
    margin-bottom: 2%;
}

.stat_tech {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    margin-top: 1%;
    margin-right: 2%;
    float: right;
    width: 45%;
    height: 38%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.stat_tech h1 {
    text-align: center;
    font-size: 1.6vw;
    margin-bottom: 2%;
}

.stat_recherche {
    position: relative;
    margin-top: 2%;
    margin-left: 27.5%;
    width: 45%;
    height: 100px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.stat_recherche h1 {
    text-align: center;
    font-size: 1.6vw;
    border-bottom: 1px solid silver;
    margin-bottom: 2%;
}

.stat_recherche_etablissement {
    position: relative;
    width: 15%;
    text-align: center;
}

.stat_recherche_service {
    width: 15%;
    text-align: center;
}

.stat_recherche_date {
    width: 10%;
    text-align: center;
}

.stat_recherche_refresh {
    text-align: center;
    font-size: 0.8vw;
    border: 1px solid darkslategray;
    border-radius: 5px;
    cursor: pointer;
    width: 9%;
}

.stat_recherche_refresh:hover {
    background-color: #adadad;
}

.chart {
    position: relative;
    margin-left: 1.5%;
    height: 80%;
    width: 97%;
}

.chart5 {
    position: relative;
    margin-top: 1%;
    margin-left: 2%;
    width: 18%;
    height: 15%;
}


/*_____________________________________________________________*/